# Répertoires à ignorer pour CLion
/cmake-build-debug
.idea/

# Répertoire à ignorer pour VSCode
.vscode/

# Répertoires à ignorer pour NetBeans
build/
dist/
nbproject/

# Fichier Makefile spécifique à NetBeans
Makefile

# Fichiers système à ignorer
*.log
*.tmp
.DS_Store

# Ignorer les fichiers compilés
*.o
*.obj
*.exe
*.out
*.class

# Ignorer les fichiers de configuration utilisateur spécifiques à l'IDE
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/description/
